In [1]:
from pathlib import Path
import pandas as pd

from expense_models import load_expenses, expenses_to_dataframe

In [2]:
expenses_path = Path("2025-11-07.json")
expenses = load_expenses(expenses_path)

len(expenses)

df = expenses_to_dataframe(expenses)
df

,name,account_id,yearly_value_eur,monthly_value_eur,yearly_value,monthly_value,currency,value,repeat_every,repeat_every_unit
0,Rent,activo_bank,8460.00,705.00,8460.00,705.00,EUR,705.00,1,months
1,Revolution food,activo_bank,2139.28,178.27,2139.28,178.27,EUR,41.00,1,weeks
2,Cleaning,activo_bank,1087.03,90.59,1087.03,90.59,EUR,62.50,3,weeks
3,T3,activo_bank,1038.48,86.54,1038.48,86.54,EUR,86.54,1,months
4,Contabilizei,nubank_cnpj,717.78,59.82,4428.00,369.00,BRL,369.00,1,months
5,Energy,activo_bank,426.84,35.57,426.84,35.57,EUR,35.57,1,months
6,Vodafone,activo_bank,342.00,28.50,342.00,28.50,EUR,28.50,1,months
7,Internet,activo_bank,309.00,25.75,309.00,25.75,EUR,25.75,1,months
8,Heroku - Teya,nubank_cnpj,288.00,24.00,288.00,24.00,EUR,24.00,1,months
9,ChatGPT,activo_bank,255.14,21.26,295.20,24.60,USD,24.60,1,months
10,Figma,nubank_cnpj,240.00,20.00,240.00,20.00,EUR,20.00,1,months
11,Cursor,activo_bank,207.43,17.29,240.00,20.00,USD,20.00,1,months
12,Water,activo_bank,180.00,15.00,180.00,15.00,EUR,15.00,1,months
13,Heroku - CNPJ,nubank_cnpj,168.00,14.00,168.00,14.00,EUR,14.00,1,months
14,Brintellix - 5mg x 28comp,activo_bank,115.83,9.65,115.83,9.65,EUR,8.88,28,days
15,Spotify,activo_bank,107.88,8.99,107.88,8.99,EUR,8.99,1,months
16,Venlafaxina - 37.5mg x 30comp,activo_bank,42.86,3.57,42.86,3.57,EUR,3.52,30,days